cryptography==40.0.2
debugpy==1.6.7
decorator==5.1.1
Deprecated==1.2.13
distlib==0.3.4
gunicorn==20.1.0
ipywidgets==8.0.6
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jsonpointer==2.3
jsonschema==4.17.3
jwcrypto==1.4.2
Pillow==9.2.0
pycparser==2.21
Pygments==2.15.1
PyJWT==2.7.0
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-json-logger==2.0.7
python-jwt==4.0.0
Django==4.0.1
virtualenv==20.14.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
uri-template==1.2.0
urllib3==1.26.15
requests==2.28.2